@model Category

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="mb-3 text-center">
        <div>
            <h2 class="text-primary text-center">Delete Category</h2>
            <hr />
        </div>
        <div class="text-secondary text-center text-warning">
            <h4>
                Are you sure to delete this item?
            </h4>
        </div>
        <div class="mb-3">
            <p>
                <label asp-for="Name">Name</label>
                <input asp-for="Name" disabled class="form-control" />
                
            </p>
        </div>
        <div class="mb-3">
            <p>
                <label asp-for="DisplayOrder">Display Order</label>
                <input asp-for="DisplayOrder" disabled class="form-control" />
                
            </p>
        </div>
        <button type="submit" class="btn btn-primary text-danger" style="width:150px">
            Delete
        </button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary bg-info" style="width:150px">
            Back to List
        </a>
        <hr />
    </div>
</form>
